<div class="container color-dark">
  <div class="col">
    <p>skills items</p>
  </div>
</div>

<div class="container color-ligth">
  <div class="col">
    <form>
      
      <input type="text" class="txt" name="lenguajes" placeholder="Languages" [(ngModel)]="mySkills.lenguajes"><br>
      <input type="text" class="txt" name="tecnologias" placeholder="Technologies" [(ngModel)]="mySkills.tecnologias"><br>
      
      <input type="submit" class="btn add" value="{{ btntxt }}" (click)="confirmAdd()">
    </form>
  </div>

  <div class="col">
    <p class="life-container" *ngFor="let job of skills;">
      <input type="submit" class="btn delete" value="delete" (click)='confirmDelete(job.id)'>
      <input type="submit" class="btn edit" value="edit" (click)="confirmEdit(job)">
      {{job.lenguajes}} - {{job.tecnologias}}
    </p>
  </div>
</div>

