<header>
  <h3 class="app-title">Admin-Cv App</h3>
</header>
<nav>
  <ul>
    <li><a routerLink="/header"> header👤</a></li>
    <li><a routerLink="/workexperience"> work-experience💼 </a></li>
    <li><a routerLink="/education"> education📚 </a></li>
    <li><a routerLink="/certificates"> certificates 🎓</a></li>
    <li><a routerLink="/skills"> skills🧠</a></li>
    <li><a routerLink="/languages"> languages🈳 </a></li>
    <li><a routerLink="/interests"> interests💡 </a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

<!--.✨📝-->
