/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
  background: rebeccapurple;    /* cambio de fonfo general red,blue,white,*/
  padding: 3em;
  font-family: 'Raleway', 'Arial';
  color: white;    /*color de las letras general*/
}

ul {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 30px;
}

ul li a {
  font-size: 1.5em;
}

a {
  color: white;  /*color de las letras de los componente header, componentes, etc*/
  text-decoration: none;
}

header {
  text-align: center;
  margin-bottom: 1.5em;
}

.app-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}
